$desktop:600px;
$soft-blue: hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);
$very-dark-blue-bg:hsl(217, 54%, 11%);
$very-dark-blue-card: hsl(216, 50%, 16%);
$very-dark-blue-line:  hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$font-size: 18px;
$font-weight:(
    "normal": 300,
    "medium": 400,
    "bold": 600
);
$font-family:'Outfit', sans-serif;